<p>We have sent you a verification code!</p>
<p>Please enter the code here:</p>
<form method = "post" action = "/success4">
<input type = "text" name = "token"/>
<input type = "submit" value = "Check code"/>
</form>
