<!DOCTYPE html>
<html>
<head>
<title>Contracting Registration</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- fa check -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!--hover krne p hi dropdown-->
<title>TC</title>
<center><h1>Terms and Conditions</h1></center><br>
<h6 style="color:black;"><i class="fa fa-check" style="color:black"></i>&nbsp These terms and condition shall govern your use of our website</h6>
<h6 style="color:black;"><i class="fa fa-check" style="color:black"></i>&nbsp By accessing this website we assume you accept these terms and conditions. Do not continue to use Website Name if you do not agree to take all of the terms and conditions stated on this page</h6>
<h6 style="color:black;"><i class="fa fa-check" style="color:black"></i>&nbsp Our team will verify sellers in 2-3 business days to ensure the correctness of the details provided.</h6>
<h6 style="color:black;"><i class="fa fa-check" style="color:black"></i>&nbsp No fake accounts allowed, otherwise strict legal action would be taken against the respective account holder </h6>
</head>
